<h1>Problems</h1>
<table class="zebra-striped">
 <thead>
  <tr>
    <th>Name</th>
    <th>Domain</th>
    <th>Requirements</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @problems.each do |problem| -%>
   <tr>
    <td><%= link_to problem.name, problem_path(problem) %> </td>
    <td><%= problem.domain.name %></td>
    <td><%= problem.domain.requirements.map {|r| r.name}.join(', ')  %> </td>
    <td>
      <%= link_to "Show", problem_path(problem) %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>
