<h1>Subdomains</h1>
<table class="zebra-striped">
 <thead>
  <tr>
    <th>Name</th>
    <th>Problems</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @subdomains.each do |subdomain| -%>
   <tr>
    <td><%= link_to subdomain.name, subdomain_path(subdomain) %></td>
    <td><%= subdomains.problems.count %></td>
    <td><%= subdomain.created_at %></td>
    <td>
      <%= link_to "Show", subdomain_path(subdomain) %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>
